@charset "utf-8";
@import url('./normalize.css');
@import url('./fonts.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.invisible {
  display: none;
}


/* Reset CSS */

html,
body,
button,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/** HTML5 display-role reset for older browsers **/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 본문 스타일 */
html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 1.4rem;
  color: #263358;
  background-color: silver;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: red;
}

/* 숨김 콘텐츠 */
.readable-hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* 공통 스타일 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 기본 레이아웃 */
.container {
  width: 375px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
}

/* 헤 더 */
.header {
  position: absolute;
  right: 0;
  background-color: beige;
  z-index: 100;
}
.header__user-button {
  background-color: blue;
  float: right;
}
.header__user {
  display: none;
  width: 400px;
  background-color: rgba(0, 0, 0, .5);
  padding: 30px;
}
.user__info {
  background-color: silver;
}
.info__display-name,
.info__email {
  float: right;
  width: 250px;
}
.info__display-name {
  background-color: lightblue;
}
.info__profile-img-wrapper {
  background-color: slateblue;
  float: left;
  width: 80px;
  height: 80px;
}
.info__email {
  background-color: saddlebrown;
}
/* 지 역 */
.location {
  position: relative;
  background-color: pink;
  /* height: 300px; */
}
.location__city-select {
  background-color: aqua;
  font-size: 30px;
}
.location__country {
  font-size: 1.2rem;
}
.location__time {
  background-color: darkkhaki;
}

/** 도시 선택 **/
.location__search{
  display: none;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 30px;
  padding: 10px 10px 0 10px;
}
.search__input{
  color: red;
}
.search__history{
  color: white;
}
.search__history li{
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.search__history li:last-child{
  border-bottom: 0;
}
.history__delete-button{
  float: right;
}
/* 날 씨 */
.weather {
  height: 300px;
  position: relative;
  background-color: salmon;
}
.weather__degree{
  font-size: 50px;
}
.weather__condition{
  background-color: gold;
}
.weather__rainfall{
  background-color: tomato;
}
.weather__wind{
  background-color: white;
}
/** 기상 예보 **/
.weather__forecast{
  background-color: burlywood;
  position: absolute;
  bottom: 0;
}
.forecast{
  background-color: aqua;
  float: left;
}
.forecast__day{
  background-color: pink;
}
.forecast__degree{
  background-color: yellow;
}
.forecast__condition{
  /* float: right; */
  background-color: greenyellow;
}

/** Desktop **/
@media screen and (min-width:1024px) {
  .container {
    width: 100%;
  }
}
